<!-- About Section -->
<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">New incomes and expenses can be entered with just a few clicks letting you keep an overview of your finances so you stop experiencing those nasty surprises at the end of the month.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">The interface is kept simple while providing you with all the features you need to plan and manage your finances. Nothing more, nothing less.</p>
      </div>
    </div>
    <% unless user_signed_in? %>
      <div class="text-center mt-4">
        <a class="app-modal-item btn btn-xl btn-outline-light" href="#logreg-forms">
          <i class="fas fa-registered mr-2"></i>
          Join Now!
        </a>
      </div>
    <% end %>
  </div>
</section>
