<!-- Categories Modal 1 -->
<div class="app-modal mfp-hide" id="categories-modal-1">
  <div class="app-modal-dialog bg-white">
    <a class="close-button d-none d-md-block app-modal-dismiss" href="#">
      <i class="fa fa-3x fa-times"></i>
    </a>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h3 class="text-secondary text-uppercase mb-0">Income</h3>
          <hr class="star-dark mb-5">
          <%= image_tag 'income.jpg', class: 'img-fluid mb-5', size: '400x500' %>
          <h4 class="mb-5">Create your own income categories to track how much money you get.</h4>
          <a class="btn btn-primary btn-lg rounded-pill app-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Categories Modal 2 -->
<div class="app-modal mfp-hide" id="categories-modal-2">
  <div class="app-modal-dialog bg-white">
    <a class="close-button d-none d-md-block app-modal-dismiss" href="#">
      <i class="fa fa-3x fa-times"></i>
    </a>
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h3 class="text-secondary text-uppercase mb-0">Expenses</h3>
          <hr class="star-dark mb-5">
          <%= image_tag 'expenses.jpg', class: 'img-fluid mb-5', size: '400x500' %>
          <h4 class="mb-5">Create your own categories to track how much money you spend.</h4>
          <a class="btn btn-primary btn-lg rounded-pill app-modal-dismiss" href="#">
            <i class="fa fa-close"></i>
            Close</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Alert modal -->
<div id="alert-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Error!</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="OK">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete Modal HTML -->
<div id="delete-category-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Category</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this Category?</p>
          <p class="text-warning">
            <small>You will also delete all money operations that are related to it!</small>
          </p>
          <input type="hidden" class="category-id">
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="button" class="btn btn-danger delete-button" value="Delete">
        </div>
      </form>
    </div>
  </div>
</div>
