<!-- Categories Grid Section -->
<section class="categories" id="categories">
  <div class="container">
    <% if user_signed_in? %>
      <h2 class="text-center text-uppercase text-secondary mb-0">Your Categories</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="text-center text-uppercase text-secondary mb-0">Income</h2>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-info add-new" data-category-type-id="<%= CategoryType.category_type_id('Income') %>"><i class="fa fa-plus"></i> Add New</button>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% if @income_categories.blank? %>
                <tr class="empty">
                  <td colspan="2">No categories</td>
                </tr>
              <% else %>
                <% @income_categories.each do |income_category| %>
                  <tr>
                    <td><%= income_category[:name] %></td>
                    <td>
                      <%= hidden_field_tag :category_id, income_category[:id] %>
                      <%= hidden_field_tag :category_type_id, income_category.category_type[:id] %>
                      <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                      <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                      <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="table-wrapper">
            <div class="table-title">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="text-center text-uppercase text-secondary mb-0">Expenses</h2>
                </div>
                <div class="col-sm-4">
                  <button type="button" class="btn btn-info add-new" data-category-type-id="<%= CategoryType.category_type_id('Expenses') %>"><i class="fa fa-plus"></i> Add New</button>
                </div>
              </div>
            </div>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Name</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <% if @expenses_categories.blank? %>
                <tr class="empty">
                  <td colspan="2">No categories</td>
                </tr>
              <% else %>
                <% @expenses_categories.each do |expenses_category| %>
                  <tr>
                    <td><%= expenses_category[:name] %></td>
                    <td>
                      <%= hidden_field_tag :category_id, expenses_category[:id] %>
                      <%= hidden_field_tag :category_type_id, expenses_category.category_type[:id] %>
                      <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                      <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                      <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                  </tr>
                <% end %>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    <% else %>
      <h2 class="text-center text-uppercase text-secondary mb-0">Categories</h2>
      <hr class="star-dark mb-5">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <a class="app-modal-item categories-item d-block mx-auto" href="#categories-modal-1">
            <div class="categories-item-caption d-flex position-absolute h-100 w-100">
              <div class="categories-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag 'income.jpg', class: 'img-fluid' %>
          </a>
        </div>
        <div class="col-md-12 col-lg-6">
          <a class="app-modal-item categories-item d-block mx-auto" href="#categories-modal-2">
            <div class="categories-item-caption d-flex position-absolute h-100 w-100">
              <div class="categories-item-caption-content my-auto w-100 text-center text-white">
                <i class="fas fa-search-plus fa-3x"></i>
              </div>
            </div>
            <%= image_tag 'expenses.jpg', class: 'img-fluid' %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</section>
