<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>
      <span class="custom-checkbox">
        <input type="checkbox" id="select-all-checkboxes">
        <label for="select-all-checkboxes"></label>
      </span>
    </th>
    <th>Type</th>
    <th>Category</th>
    <th>Sum</th>
    <th>Comment</th>
    <th>Operation date</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% if @money_operations.blank? %>
    <tr class="empty">
      <td colspan="7">You don't have money operations for this period</td>
    </tr>
  <% else %>
    <% @money_operations.each do |money_operation| %>
      <tr>
        <td>
            <span class="custom-checkbox">
              <input type="checkbox" id="checkbox<%= money_operation[:id] %>" name="options[]" value="<%= money_operation[:id] %>">
              <label for="checkbox<%= money_operation[:id] %>"></label>
            </span>
        </td>
        <td><%= money_operation.category.category_type[:name] %></td>
        <td><%= money_operation.category[:name] %></td>
        <td><%= money_operation[:sum] %></td>
        <td><%= money_operation[:comment] %></td>
        <td><%= money_operation[:operation_date].to_date %></td>
        <td>
          <%= hidden_field_tag :money_operation_id, money_operation[:id] %>
          <%= hidden_field_tag :category_type_id, money_operation.category.category_type[:id] %>
          <a class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
          <a class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<div class="clearfix">
  <div class="page-info">
    <%= page_entries_info @money_operations , container: false %>
  </div>
  <% if @money_operations.present? %>
    <a class="btn btn-info show-chart" data-toggle="modal">
      <span>Show pie chart</span>
    </a>
  <% end %>
  <%= will_paginate @money_operations, params: { action: 'render_main_table', controller: 'money_operation' } %>
</div>
