<%= form_for(MoneyOperation.new, url: 'money_operation/ajax_add_money_operation', method: :post, format: :json, remote: true) do |f| %>
  <div class="modal-header">
    <h4 class="modal-title">Add Money Operation</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Type</label>
      <select class="form-control money_operation_category_type">
        <% CategoryType.all.each do |category_type| %>
          <option value="<%= category_type[:id] %>"><%= category_type[:name] %></option>
        <% end %>
      </select>
    </div>
    <div class="form-group">
      <label>Category</label>
      <%= f.select :category_id, grouped_options_for_select(Category.for_select(current_user)), {}, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <label>Sum</label>
      <%= f.text_field :sum, id: "sum", class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Comment</label>
      <%= f.text_area :comment, id: "comment", class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Operation date</label>
      <%= f.text_field :operation_date, id: "operation_date", class: "form-control operation-date-input", value: Time.now.strftime('%Y-%m-%d') %>
    </div>
  </div>
  <div class="modal-footer">
    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
    <a href="#" class="btn btn-success add-new">Add</a>
  </div>
<% end %>
