<div class="row">
  <div class="col-md-12 col-lg-6">
    <h3 class="text-center">Income Chart:</h3>
    <%= pie_chart money_operation_income_chart_path(start_date: params[:start_date], end_date: params[:end_date]), prefix: "$", messages: { empty: "No data" }, colors: %w(#3A754E #2A8371 #318E94 #5B96B3 #9299C6 #CB98CA) %>
  </div>
  <div class="col-md-12 col-lg-6">
    <h3 class="text-center">Expenses Chart:</h3>
    <%= pie_chart money_operation_expenses_chart_path(start_date: params[:start_date], end_date: params[:end_date]), prefix: "$", messages: { empty: "No data" }, colors: %w(#3A754E #2A8371 #318E94 #5B96B3 #9299C6 #CB98CA) %>
  </div>
</div>
