<!-- Header -->
<header class="masthead bg-primary text-white text-center">
  <div class="flipWrapper">
    <div class="rotate">
      <div class="container face front">
        <% if user_signed_in? %>
          <div class="button-hint">
            <div class="btn btn-info">
              Press here to start your money tracking<span class="arrow">&darr;</span>
            </div>
          </div>
          <div>
            <%= image_tag 'main.png', class: 'img-dollar img-fluid mb-5 mx-auto' %>
          </div>
        <% else %>
          <%= image_tag 'main.png', class: 'img-dollar-simple img-fluid mb-5 mx-auto' %>
        <% end %>
        <h1 class="text-uppercase mb-0">Money tracking</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">
          <% if user_signed_in? && !current_user.full_name.nil? %>
            <span class="nav-link text-uppercase">Hi, <span class="font-weight-bold"><%= current_user.full_name %></span></span><br>
          <% end %>
          We will help you to save your money
        </h2>
      </div>

      <% if user_signed_in? %>
        <div class="container face back">
          <section id="main-table-section">
            <h1 class="text-uppercase mb-0">Money operations</h1><br>
            <div class="container">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="col-sm-6">
                      <%= text_field_tag 'operation_date_start', nil, class: 'operation-date-input' %>
                      <%= image_tag 'calendar.png', class: 'calendar-img' %>
                      <%= text_field_tag 'operation_date_end', nil, class: 'operation-date-input' %>
                      <%= image_tag 'calendar.png', class: 'calendar-img' %>
                    </div>
                    <div class="col-sm-2 export">
                      Export to:<br>
                      <%= link_to 'CSV', target: :_blank, controller: :money_operation, action: :export, format: 'csv' %>
                      <%= link_to 'XLS', target: :_blank, controller: :money_operation, action: :export, format: 'xls'%>
                    </div>
                    <div class="col-sm-4">
                      <a class="btn btn-success add-new-operation" data-toggle="modal"><i class="material-icons">&#xE147;</i>
                        <span>Add New Operation</span>
                      </a>
                      <a class="btn btn-danger delete-selected" data-toggle="modal"><i class="material-icons">&#xE15C;</i>
                        <span>Delete</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div id="main-table">
                  <%= render partial: 'main/main_table' %>
                </div>
              </div>
            </div>
          </section>
        </div>
      <% end %>
    </div>
  </div>
</header>
