<!-- Add Modal HTML -->
<div id="add-operation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- Edit Modal HTML -->
<div id="edit-operation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- Delete Modal HTML -->
<div id="delete-operation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Delete Money Operation</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this Operation?</p>
          <p class="text-warning">
            <small>This action cannot be undone.</small>
          </p>
          <input type="hidden" class="money-operation-id">
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
          <input type="button" class="btn btn-danger delete-button" value="Delete">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Chart Modal HTML -->
<div id="chart-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <h4 class="modal-title">Money operations per Category</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="OK">
        </div>
      </form>
    </div>
  </div>
</div>
