<%= render partial: "main/money_operations_section" %>
<%= render partial: "main/categories_section" %>
<%= render partial: "main/about_section" %>
<%= render partial: "main/categories_modals" %>
<%= render partial: "main/money_operations_table_modals" %>
