<section>
  <div class="container">
    <h2 class="text-center text-uppercase text-secondary mb-0">Profile</h2>
    <hr class="star-dark mb-5">
    <div class="row">

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :full_name %><br/>
          <%= f.text_field :full_name, autofocus: true, autocomplete: "email", id: "edit_full_name", class: "form-control", placeholder: "Full name" %>
        </div>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autocomplete: "email", id: "edit_email", class: "form-control", placeholder: "Email address" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
          <%= f.password_field :password, autocomplete: "new-password", id: "edit_password", class: "form-control", placeholder: "Password" %>
          <% if @minimum_password_length %>
            <br/>
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "edit_password_confirmation", class: "form-control", placeholder: "Repeat Password" %>
        </div>

        <div class="field">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, autocomplete: "current-password", id: "edit_current_password", class: "form-control", placeholder: "Current password" %>
        </div>

        <div class="actions">
          <button class="btn btn-primary btn-block" type="submit">Update</button>
        </div>
      <% end %>

      <div>Cancel my account</div>

      <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-block" %></div>

      <%= link_to "Back", :back %>

    </div>
  </div>
</section>
