<?xml version='1.0'?>
<Workbook xmlns='urn:schemas-microsoft-com:office:spreadsheet'
          xmlns:o='urn:schemas-microsoft-com:office:office'
          xmlns:x='urn:schemas-microsoft-com:office:excel'
          xmlns:ss='urn:schemas-microsoft-com:office:spreadsheet'
          xmlns:html='http://www.w3.org/TR/REC-html40'>
  <ss:Styles>
    <ss:Style ss:ID='header'><ss:Font ss:Bold='1'/><ss:Alignment ss:Horizontal='Center'/></ss:Style>
    <ss:Style ss:ID='row'><ss:Alignment ss:Horizontal='Center' ss:Vertical='Center'/></ss:Style>
  </ss:Styles>
  <Worksheet ss:Name='MoneyOperations'>
    <Table>
      <Row ss:StyleID='header'>
        <Cell><Data ss:Type='String'>Category Type</Data></Cell>
        <Cell><Data ss:Type='String'>Category</Data></Cell>
        <Cell><Data ss:Type='String'>Sum</Data></Cell>
        <Cell><Data ss:Type='String'>Comment</Data></Cell>
        <Cell><Data ss:Type='String'>Operation Date</Data></Cell>
      </Row>
      <% if @money_operations.blank? %>
        <Row ss:StyleID='row'>
          <Cell><Data ss:Type="String">You don't have money operations for this period</Data></Cell>
        </Row>
      <% else %>
        <% @money_operations.each do |money_operation| %>
          <Row ss:StyleID='row'>
            <Cell><Data ss:Type="String"><%= money_operation.category.category_type[:name] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= money_operation.category[:name] %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= money_operation[:sum] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= money_operation[:comment] %></Data></Cell>
            <Cell><Data ss:Type="String"><%= money_operation[:operation_date].to_date %></Data></Cell>
          </Row>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
