<%= form_for(User.new, as: :user, url: password_path(:user), html: { id: "change_password", class: "form-reset", method: :post }, remote: true) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Forgot your password?</h1>

  <%= render "devise/shared/error_messages", resource: User.new %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, id: "change_password_email", autocomplete: "email", class: "form-control", placeholder: "Email address" %>
  </div>

  <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
  <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>

<% end %>
