<%= form_for(current_user, as: :user, url: registration_path(:user), html: { id: "edit_user"}, format: :json, remote: true) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal text-center">Change account information</h1>

  <div class="field">
    <%= f.text_field :full_name, autofocus: true, autocomplete: "email", id: "edit_full_name", class: "form-control", placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email", id: "edit_email", class: "form-control", placeholder: "Email address" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", id: "edit_password", class: "form-control", placeholder: "Password" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "edit_password_confirmation", class: "form-control", placeholder: "Repeat Password" %>
  </div>

  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password", id: "edit_current_password", class: "form-control", placeholder: "Current password" %>
  </div>

  <button class="btn btn-primary btn-block" type="submit">Update</button>

  <div class="modal-errors"></div>

<% end %>

<div class="mx-auto">
  <%= button_to "Cancel my account", registration_path(:user), data: {confirm: "Are you sure?"}, method: :delete, class: "btn btn-danger btn-block" %>
</div>