<!-- Login Modal -->
<div class="app-modal mfp-hide" id="logreg-forms">
  <div class="app-modal-dialog bg-white">
    <a class="close-button d-none d-md-block app-modal-dismiss" href="#">
      <i class="fa fa-3x fa-times"></i>
    </a>
    <div class="container text-center">
      <div class="row">
        <% if user_signed_in? %>
          <%= render 'layouts/modals/edit_form' %>
        <% else %>
          <%= render 'layouts/modals/signin_form' %>
          <%= render 'layouts/modals/signup_form' %>
          <%= render 'layouts/modals/change_password_form' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
