<%= form_for(User.new, url: registration_path(:user), html: { id: "sign_up_user", class: "form-signup" }, remote: true) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>

  <%= render "devise/shared/error_messages", resource: User.new %>

  <div class="social-login">
    <button class="btn google-btn social-btn" type="button">
      <a href=<%= omniauth_authorize_path(:user, :google_oauth2) %>>
        <span><i class="fab fa-google-plus-g"></i>
          Sign up with Google+
        </span>
      </a>
    </button>
  </div>

  <p style="text-align:center">OR</p>

  <div class="field">
    <%= f.text_field :full_name, autofocus: true, autocomplete: "email", id: "signup_full_name", class: "form-control", placeholder: "Full name" %>
  </div>

  <div class="field">
    <%= f.email_field :email, autocomplete: "email", id: "signup_email", class: "form-control", placeholder: "Email address" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", id: "signup_password", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "signup_password_confirmation", class: "form-control", placeholder: "Repeat Password" %>
  </div>

  <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
  <div class="modal-errors"></div>
  <a href="#" id="cancel_signup"><i class="fas fa-angle-left"></i> Back</a>

<% end %>
