<%= form_for(User.new, url: session_path(:user), html: { id: "sign_in_user", class: "form-signin" }, format: :json, remote: true) do |f| %>
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
  <div class="social-login">
    <button class="btn google-btn social-btn" type="button">
      <a href=<%= omniauth_authorize_path(:user, :google_oauth2) %>>
        <span><i class="fab fa-google-plus-g"></i>
          Sign up with Google+
        </span>
      </a>
    </button>
  </div>

  <p style="text-align:center">OR</p>

  <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "signin_email", class: "form-control", placeholder: "Email address" %>
  <%= f.password_field :password, autocomplete: "current-password", id: "signin_password", class: "form-control", placeholder: "Password" %>

  <button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Log in</button>
  <div class="modal-errors"></div>
  <a href="#" id="forgot_pswd">Forgot password?</a>
  <hr>

  <button class="btn btn-primary btn-block" type="button" id="btn-signup"><i class="fas fa-user-plus"></i> Sign up New
    Account
  </button>
<% end %>
