<!DOCTYPE html>
<html>
<%= favicon_link_tag asset_path('main.png'), rel: 'icon', type: 'image/png' %>
  <head>
    <title>Money tracking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Money tracking</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#categories">Categories</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <% if user_signed_in? %>
                <div class="dropdown">
                  <a class="btn-secondary dropdown-toggle nav-link py-3 px-0 px-lg-3 rounded" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="app-modal-item nav-link dropdown-item" href="#logreg-forms">My account</a>
                    <%= link_to "Log out", destroy_user_session_path, class: "nav-link dropdown-item", method: :delete %>
                  </div>
                </div>
              <% else %>
                <a class="app-modal-item btn-secondary nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#logreg-forms">Log in</a>
            <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>

    <%= render 'layouts/modals/login_modal' %>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-5 mb-lg-0 text-left">
            <h4 class="text-uppercase mb-4">Money tracking app</h4>
            <p class="lead mb-0">Minsk, Belarus<br>2019</p>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4 text-right">About Developer</h4>
            <p class="lead mb-0 text-right">Kirill Korolko
              <br>Ruby on Rails & PHP developer.
            </p>
          </div>
        </div>
      </div>
    </footer>
    <div class="scroll-to-top position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <%= javascript_include_tag 'tracking' %>
  </body>
</html>
